*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Karla' ;
    transition: 0.3s all linear;
    scroll-behavior: smooth;
}