// feature section start
.feature__title-wrapper{
    text-align: center;
}
.feature__title {
    display: inline-block;
    padding: 0 45px;
    position: relative;
    color: $text-clr;
    margin-bottom: 100px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;

    text-transform: uppercase;
    &::before{
        content: "";
        width: 30px;
        height: 1px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-color: rgb(236, 236, 237);
    }
    &::after{
        content: "";
        width: 30px;
        height: 1px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-color: rgb(236, 236, 237);
    }
}
.feature__list {
    gap: 20px;
}
.feature__item {
    width: 460px;
    text-align: center;
}
.feature__text {
    color: $text-clr;
    font-family: Karla;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
}
.feature__strong {
    margin-bottom: 15px;
    color: rgba(29, 31, 46, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}
.feature__cost {
    color: rgb(162, 95, 75);
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
}
.feature-__span {
    margin-left: 10px;
    color: rgba(29, 31, 46, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration-line: line-through;
}
// feature section end